@import url(fonts.css);

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #121829;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.movies-card {
    display: flex;
    width: 1200px;
    justify-content: space-between;
}

.card {
    width: 282px;
    background-color: #20283E;
    /*height: 520px;*/
    border-radius: 12px;
    padding: 10px 4px 4px 4px;
    position: relative;
}

.card img {
    width: 266px;
    height: 400px;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #EBEEF5;
    padding: 10px 4px 4px 4px;
    margin-left: 12px;
}

.card-title p {
    margin-bottom: 12px;
}

.card-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #7B6EF6;

}

.card-icon {
    display: flex;

}

.card-svg {
    margin-right: 8px;
}

.card-reting {
    width: 60px;
    height: 32px;
    background: hsla(0, 0%, 0%, 0.65);
    border-radius: 8px;
    position: absolute;
    align-items: center;
    display: flex;
    z-index: 1;
    top: 18px;
    left: 18px;
    justify-content: space-evenly;
}

.card-subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFAD49;
}

.mt-25 {
    margin-top: 25px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-60 {
    margin-bottom: 60px;
}

.movies-text {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #767E94;
    position: fixed;
    right: 45%;
    margin-bottom: 25px;
}

.movies-btn {
    background-color: #7B6EF6;
    width: 189px;
    height: 56px;
    border-radius: 12px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

}

.btn {
    position: fixed;
    right: 49%;
    top: 95%;
}